/* Estilos para o contêiner do header */
.header {
    width: 1500px;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    background: #252F3D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; /* Espaçamento à esquerda e à direita */
}

/* Estilos para cada item do header */
.header-item {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family: Manrope, sans-serif;
    font-weight: 500;
    line-height: 12px;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-right: 30px; /* Espaçamento entre os itens */
}

/* Estilos para o ícone */
.icon {
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}


/* <div style="width: 1500px; left: 0px; top: 50px;  background: white; justify-content: space-between; align-items: center; "> */
/* Estilos para o contêiner do banner */
.banner {
    width: 100%;
    max-width: 1500px;
    padding-left: 127px; 
    padding-right: 127px; 
    padding-top: 1000px; 
    padding-bottom: 30px; 
    /* padding: 30px 127px; */
    padding-top: 30px;
    /* position: relative; */
    position: absolute;
    background: white;
    /* display: flex; */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para o logotipo */
.logo {
    width: 192px;
    height: 36px;
}

/* Estilos para os ícones */
.icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

/* Estilos para cada ícone */
.icon {
    width: 88px;
    height: 32px;
    position: relative;
}

/* Estilos para as imagens dos ícones */
.icon img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}