// 30-DAY SATISFACTION GUARANTEE
color: white;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 500;
 text-transform: capitalize;
 line-height: 12px;
 word-wrap: break-word
---
// Free delivery on orders over $40.00
color: white;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 500;
 text-transform: uppercase;
 line-height: 12px;
 word-wrap: break-word
---
// 50.000+ HAPPY CUSTOMERS
color: white;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 500;
 text-transform: capitalize;
 line-height: 12px;
 word-wrap: break-word
---
// 100% Money Back Guarantee
color: white;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 500;
 text-transform: uppercase;
 line-height: 12px;
 word-wrap: break-word
---
// Wait ! your order in progress.
color: black;
 font-size: 48px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 48px;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet, consectetur adipiscing 
color: #4D5254;
 font-size: 24px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 24px;
 word-wrap: break-word
---
// ONE TIME ONLY
color: #2C7EF8;
 font-size: 32px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 44.80px;
 word-wrap: break-word
---
//  special price for 6 extra Clarifion for only 
color: black;
 font-size: 32px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 44.80px;
 word-wrap: break-word
---
// $14 each
color: #2C7EF8;
 font-size: 32px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 44.80px;
 word-wrap: break-word
---
//  ($84.00 total!)
color: black;
 font-size: 32px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 44.80px;
 word-wrap: break-word
---
// Clarifion Air Ionizer
color: black;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 28px;
 word-wrap: break-word
---
// $180
color: #969696;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 600;
 text-decoration: line-through;
 text-transform: capitalize;
 word-wrap: break-word
---
// $84
color: #2C7EF8;
 font-size: 22px;
 font-family: Manrope;
 font-weight: 600;
 text-transform: capitalize;
 line-height: 30.80px;
 word-wrap: break-word
---
// 12 left in Stock
color: #37465A;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 300;
 word-wrap: break-word
---
// Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// Negative Ion Technology may
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 25.60px;
 word-wrap: break-word
---
//  help with allergens
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 700;
 line-height: 25.60px;
 word-wrap: break-word
---
// Designed for
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 25.60px;
 word-wrap: break-word
---
//  air rejuvenation
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 700;
 line-height: 25.60px;
 word-wrap: break-word
---
// Perfect for every room
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 700;
 line-height: 25.60px;
 word-wrap: break-word
---
//  in all types of places.
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 25.60px;
 word-wrap: break-word
---
// Save 
color: black;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// 53%
color: #2C7EF8;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
//  and get 
color: black;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// 6 extra Clarifision
color: #2C7EF8;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
//  for only 
color: black;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// $14 Each
color: #2C7EF8;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// .
color: black;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// Yes - Claim my discount
color: white;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 700;
 text-transform: uppercase;
 word-wrap: break-word
---
// Free shipping
color: #4D5254;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 16.80px;
 word-wrap: break-word
---
// Secure 256-bit SSL encryption.
color: #4D5254;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 18px;
 word-wrap: break-word
---
// No thanks, I don’t want this.
color: #F82C2C;
 font-size: 18px;
 font-family: Manrope;
 font-weight: 500;
 text-decoration: underline;
 text-transform: uppercase;
 word-wrap: break-word
---
// If you are not completely thrilled with your Clarifion - We have a 
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// 30 day satisfaction guarantee
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 700;
 line-height: 22.40px;
 word-wrap: break-word
---
// . Please refer to our return policy at the bottom of the page for more details. Happy Shopping!
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 22.40px;
 word-wrap: break-word
---
// Ken T.
color: #333333;
 font-size: 14px;
 font-family: Manrope;
 font-weight: 700;
 line-height: 14px;
 word-wrap: break-word
---
// Verified Customer
color: #5BB59A;
 font-size: 12px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 14.40px;
 word-wrap: break-word
---
// “As soon as the Clarifions arrived I put one in my bedroom. This was late in the afternoon. When I went to the bedroom in the evening it smelled clean. When I went to bed I felt I could breathe better. Wonderful.”
color: #4D5254;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Copyright (c) 2023
color: white;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 22.40px;
 word-wrap: break-word
---
// Clarifionsupport@clarifion.com
color: white;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: lowercase;
 line-height: 22.40px;
 word-wrap: break-word
---
// Secure 256-bit SSL encryption.
color: white;
 font-size: 16px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 24px;
 word-wrap: break-word
---
// Step 1 : Cart Review
color: black;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 22px;
 word-wrap: break-word
---
// Step 2 : Checkout
color: black;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 22px;
 word-wrap: break-word
---
// 3
color: white;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 22px;
 word-wrap: break-word
---
// Step 3 : Special Offer
color: black;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 700;
 text-transform: capitalize;
 line-height: 22px;
 word-wrap: break-word
---
// 4
color: #2C7EF8;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 22px;
 word-wrap: break-word
---
// Step 4 : Confirmation
color: black;
 font-size: 20px;
 font-family: Manrope;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 22px;
 word-wrap: break-word